body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #f4f6f9;
}

.app-container {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab {
  padding: 10px 25px;
  margin: 0 10px;
  border: none;
  background: #e0e0e0;
  cursor: pointer;
  border-radius: 6px;
  font-size: 16px;
}

.tab.active {
  background: #4f46e5;
  color: white;
}

.content {
  margin-top: 20px;
}


.card {
  background: white;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.quiz-card {
  background: white;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.quiz-card ul {
  padding-left: 20px;
}

.quiz-card li {
  margin: 4px 0;
}

.topics {
  margin-top: 10px;
}

.topic-badge {
  display: inline-block;
  background: #e0e7ff;
  color: #3730a3;
  padding: 6px 12px;
  border-radius: 20px;
  margin: 5px;
  font-size: 14px;
}
